.WeaponName {
  font-weight: 500;
}

.WeaponNameCalibre {
  color: var(--text-secondary);
  font-size: 0.85em;
  font-style: italic;
  font-weight: normal;
  line-height: 1em;
  margin-top: 0.5em;
}

.WeaponNameTitle {
  line-height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.WeaponNameHighlighted .WeaponNameTitle {
  color: var(--brand);
}

@media (max-width: 864px) {
  .WeaponNameResponsive {
    align-items: baseline;
    display: flex;
  }

  .WeaponNameResponsive .WeaponNameCalibre {
    margin: 0 0 0 0.5em;
  }
}
