.AnimalRating {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.AnimalRatingPlaceholder {
  font-size: 0.35em;
}

.AnimalRatingIcon {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 20%;
}
