/.firebase
/.idea
/.next
/node_modules
/out

# Miscelaneous
.DS_Store
*.pem

# Environment files
.env.local
.env.*.local

# TypeScript
next-env.d.ts

# Debug filse
*-debug.log

# Files generated for the companion app
/.companion
