.SettingsEditorMigrationModal {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.SettingsEditorMigrationButtonCopy {
  background-color: var(--highlight);
  width: 100%;
}

.SettingsEditorMigrationButtonPaste {
  background-color: var(--danger);
  width: 100%;
}

.SettingsEditorMigrationModalPanel {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 1fr auto;
}

.SettingsEditorMigrationModalTextarea {
  resize: none;
}

.SettingsEditorMigrationModalTextarea:read-only {
  color: var(--text-secondary);
  cursor: default;
}

@media (max-width: 768px) {
  .SettingsEditorMigrationModal {
    grid-template-columns: 1fr;
  }
}
