.SettingsEditor {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0.65em;
}

.SettingsEditorResetButton {
  background-color: var(--variance-suboptimal);
}

.SettingsEditorSidePanel {
  z-index: 200;
}
