.SettingsEditor {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0.65em;
}

.SettingsEditorResetButton {
    background-color: var(--variance-suboptimal);
}

.SettingsEditorSidePanel {
    z-index: 200;
}

.SettingsEditorSlider {
    height: 1.5em;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.SettingsEditorSliderThumb {
    background-color: var(--highlight);
    border: thin solid var(--text-highlight);
    box-shadow: var(--shadow);
    border-radius: 100%;
    cursor: ew-resize;
    height: 1.5em;
    width: 1.5em;
}

.SettingsEditorSliderTrack {
    background-color: var(--light-primary);
    border-radius: 0.2em;
    height: 0.2em;
    top: 0.65em;
}
