.Button {
  align-items: center;
  background-color: var(--elevation1);
  border: none;
  border-radius: 0.25em;
  color: var(--text-primary);
  display: flex;
  filter: saturate(70%);
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  height: 2.5em;
  justify-content: center;
  padding: 0;
  transition: color 150ms ease-in-out, filter 150ms ease-in-out;
  width: 2.5em;
}

.Button:hover:not(:disabled) {
  filter: saturate(100%);
  cursor: pointer;
}

.Button:disabled {
  color: var(--text-secondary);
  filter: saturate(50%);
}
