.AnimalSelectorPage {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
}

.AnimalSelectorPageNotification {
  margin: 10vh auto 0 auto;
  max-width: 40em;
  width: 100%;
}

.AnimalSelectorPageSeparator {
  margin: 1em 0;
}

@media (max-width: 768px) {
  .AnimalSelectorPage {
    display: block;
    grid-template-columns: unset;
  }
}
