.HuntingMapAnimal {
  cursor: pointer;
  z-index: 1;
}

.HuntingMapAnimalActive {
  z-index: 3;
}

.HuntingMapAnimalActive img,
.HuntingMapAnimalActive svg {
  transform: scale(1.2) !important;
}

.HuntingMapAnimalEdited {
  filter: drop-shadow(0 0 0.4em currentColor);
}

.HuntingMapAnimalZone {
  z-index: 4;
}
