.Error {
  margin: 10vh auto 0 auto;
  max-width: 40em;
  user-select: none;
}

.ErrorHeading {
  font-family: var(--font-bench-nine), var(--font-fira-sans-extra-condensed), sans-serif;
  font-size: 7em;
  font-weight: 300;
  text-align: center;
}
