.WeaponSelectorPage {
  display: grid;
  flex: 1;
  grid-gap: 0 0;
  grid-template-areas: "sidebar content";
  grid-template-columns: 15rem 1fr;
}

.WeaponSelectorPageSeparator {
  margin: 1em 0;
}

@media (max-width: 864px) {
  .WeaponSelectorPage {
    grid-template-columns: 11rem 1fr;
  }
}
