.HuntingMapLabel {
  border-radius: 0.5em;
  color: var(--text-primary);
  opacity: 0;
  overflow: hidden;
  padding: 0.4em 1em;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity 100ms linear, transform 100ms linear;
  user-select: none;
  z-index: 2;
}

.HuntingMapLabelBlur {
  background-color: var(--elevation0);
  bottom: -1em;
  filter: blur(0.1em);
  left: -1em;
  opacity: 0.5;
  position: absolute;
  right: -1em;
  top: -1em;
  z-index: -1;
}

.HuntingMapLabelSeparator {
  background: rgba(235, 221, 210, 0.5);
  background: linear-gradient(
      90deg,
      rgba(235, 221, 210, 0.1) 0%,
      rgba(235, 221, 210, 0.8) 50%,
      rgba(235, 221, 210, 0.1) 100%);
  box-shadow: var(--shadow);
  height: 1px;
  margin: 0.1em 0 0.25em;
}

.HuntingMapLabelStateEntering {
  opacity: 1;
}

.HuntingMapLabelStateEntered {
  opacity: 1;
}

.HuntingMapLabelStateExiting {
  opacity: 0;
}

.HuntingMapLabelStateExited {
  opacity: 0;
}

.HuntingMapLabelSubtitle {
  font-size: 0.8em;
  opacity: 0.55;
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}

.HuntingMapLabelTitle {
  display: flex;
  font-family: BenchNine, 'Fira Sans Extra Condensed', sans-serif;
  font-size: 1.1em;
  justify-content: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 1;
}
