.AnimalDetails {
  user-select: none;
}

.AnimalDetailsHeading {
  display: grid;
  grid-column-gap: 0.5em;
  grid-template-areas: 'name icon'
    'latin icon';
  grid-template-columns: 1fr auto;
  justify-content: space-between;
}

.AnimalDetailsIcon {
  grid-area: icon;
}

.AnimalDetailsName {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.5em;
  grid-area: name;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  text-transform: uppercase;
}

.AnimalDetailsNameLatin {
  color: var(--text-secondary);
  font-style: italic;
  grid-area: latin;
  margin-top: 0.25em;
}

.AnimalDetailsDescription {
  font-weight: 300;
  height: calc(1.3em * 3);
  overflow: auto;
  padding-right: 1em;
}

.AnimalDetailsStats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 0.5em;
  margin-top: 1em;
}

.AnimalDetailsStat {
  align-items: baseline;
  display: flex;
  font-size: 1.1em;
}

.AnimalDetailsStat1 {
  order: 1;
}

.AnimalDetailsStat2 {
  order: 3;
}

.AnimalDetailsStat3 {
  order: 2;
}

.AnimalDetailsStat4 {
  order: 4;
}

.AnimalDetailsStatName {
  color: var(--text-secondary);
  font-family: BenchNine, 'Fira Sans Extra Condensed', sans-serif;
  letter-spacing: 0.1em;
  line-height: 1em;
  text-transform: uppercase;
}

.AnimalDetailsStatValue {
  color: var(--text-primary);
  letter-spacing: unset;
  line-height: 1em;
  margin-left: 0.8em;
}

@media (max-width: 600px) {
  .AnimalDetailsStat {
    flex-direction: column;
  }

  .AnimalDetailsStatName {
    margin-bottom: 0.25em;
  }

  .AnimalDetailsStatValue {
    margin: 0 0 0.5em;
  }
}

@media (max-width: 864px) {
  .AnimalDetails {
    font-size: unset;
  }

  .AnimalDetailsStats {
    grid-template-columns: 1fr;
  }

  .AnimalDetailsStat2 {
    order: 2;
  }

  .AnimalDetailsStat3 {
    order: 3;
  }
}
