.AnimalDetails {
  font-size: 1.1em;
  user-select: none;
}

.AnimalDetailsName {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.AnimalDetailsNameLatin {
  color: var(--text-secondary);
  font-style: italic;
  margin-top: 0.25em;
}

.AnimalDetailsDescription {
  font-weight: 300;
  height: calc(1.3em * 4);
  overflow: auto;
  padding-right: 1em;
}

.AnimalDetailsStat {
  align-items: baseline;
  display: flex;
  margin-top: 0.5em;
}

.AnimalDetailsStatName {
  color: var(--text-secondary);
  font-family: BenchNine, 'Fira Sans Extra Condensed', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.AnimalDetailsStatValue {
  color: var(--text-primary);
  letter-spacing: unset;
  line-height: 1em;
  margin-left: 0.8em;
}

@media (max-width: 864px) {
  .AnimalDetails {
    font-size: unset;
  }
}
