.MigrationsPageBanner {
  background-color: var(--elevation1);
  border-left: 0.5em solid var(--info);
  font-size: 1rem;
  line-height: 1.5em;
  margin: 1em 0;
  opacity: 0.9;
  padding: 1em;
  text-align: center;
}

.MigrationsPageCode {
  color: var(--text-secondary);
  font-size: 0.9rem;
  margin-top: 2em;
  resize: none;
}

.MigrationsPageContent {
  font-size: 1.05em;
  margin: 0 auto;
  max-width: 768px;
}

.MigrationsPageContentParagraph {
  line-height: 1.5em;
  text-align: justify;
}
