.ToolbarAction {
  align-items: center;
  background-color: transparent;
  color: var(--text-primary);
  display: flex;
  font-size: 1.4em;
  justify-content: center;
  padding: 0 1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
  min-width: 11rem;
}

.ToolbarAction:hover {
  background-color: var(--elevation4);
}

.ToolbarActionActive {
  background-color: var(--elevation2);
  color: var(--brand);
}
