.Toolbar {
  background-color: var(--elevation0);
  border-bottom: thin solid var(--elevation1);
  display: flex;
  font-family: 'BenchNine', sans-serif;
  user-select: none;
  z-index: 100;
  width: 100%;
}
