.Layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

.LayoutBackground {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -2em;
  filter: blur(1em) brightness(40%);
  left: -2em;
  position: absolute;
  right: -2em;
  top: -2em;
  z-index: -1;
}

.LayoutContent {
  display: flex;
  height: 100%;
  overflow: hidden;
}
