.Card {
  background-color: var(--elevation2);
  border-radius: 0.25em;
  box-shadow: var(--shadow);
  color: var(--text-primary);
  font-weight: 300;
  min-width: 15rem;
  padding: 2rem;
  text-align: center;
  user-select: none;
}
