.PivotTableHeader {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 0 1em 15rem;
}

.PivotTableHeaderDistance {
  align-items: center;
  background-color: var(--highlight);
  border-radius: 0.25em;
  color: var(--text-highlight);
  display: flex;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  justify-content: center;
  margin: 0 auto;
  min-width: 5rem;
  padding: 0.5rem;
  width: 100%;
}

@media (max-width: 864px) {
  .PivotTableHeader {
    margin-left: 0;
  }

  .PivotTableHeaderDistance {
    min-width: unset;
  }
}
