.AnimalEditorAction {
  display: block;
  width: 100%;
}

.AnimalEditorActionReset {
  background-color: var(--danger);
}

.AnimalEditorActionSave {
  background-color: var(--info);
}

.AnimalEditorIconPreview {
  justify-content: center;
  display: flex;
  margin-top: 1em;
}
