.AnimalEditorGroupBuilder {
  display: grid;
  grid-gap: 0.75em;
}

.AnimalEditorGroupBuilderAgeButtons {
  grid-template-columns: repeat(3, 1fr);
}

.AnimalEditorGroupBuilderButtonConfirm {
  background-color: var(--info);
  font-size: 0.9em;
  width: 100%;
}

.AnimalEditorGroupBuilderButtonConfirm:hover {
  background-color: var(--elevation1);
}

.AnimalEditorGroupBuilderButtons {
  display: grid;
  grid-gap: 0.5em;
  width: 100%;
}

.AnimalEditorGroupBuilderLabel {
  color: var(--text-primary);
  font-size: 0.9em;
  width: 5em;
}

.AnimalEditorGroupBuilderList {
  background-color: var(--elevation1);
  border-radius: 0.25em;
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 0.25em;
  min-height: 8rem;
  padding: 0.25em;
  user-select: none;
}

.AnimalEditorGroupBuilderListEntry {
  align-items: center;
  background-color: var(--elevation2);
  display: grid;
  grid-template-columns: 1.6em 3.3em 1.6em 3.3em 1.6em 1fr;
  padding: 0.25em;
  position: relative;
}

.AnimalEditorGroupBuilderListEntryOverlay {
  align-items: center;
  background-color: var(--danger);
  color: var(--text-primary);
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.AnimalEditorGroupBuilderListEntry:hover .AnimalEditorGroupBuilderListEntryOverlay {
  opacity: 0.8;
}

.AnimalEditorGroupBuilderListEntryRating {
  color: var(--light-primary);
}

.AnimalEditorGroupBuilderListEntryValue {
  color: var(--text-primary);
  font-style: italic;
  font-size: 0.8em;
}

.AnimalEditorGroupBuilderListPlaceholder {
  color: var(--text-secondary);
  font-size: 0.8em;
  padding: 2em;
  user-select: none;
  text-align: center;
}

.AnimalEditorGroupBuilderRatingButtons {
  grid-template-columns: repeat(6, 1fr);
}

.AnimalEditorGroupBuilderSection {
  align-items: center;
  display: flex;
  flex: 1;
}

.AnimalEditorGroupBuilderButtonToggle {
  background-color: var(--elevation5);
  font-size: 0.9em;
  padding: 0.55em 0;
}

.AnimalEditorGroupBuilderButtonToggle:hover {
  background-color: var(--elevation1);
}

.AnimalEditorGroupBuilderButtonToggleActive {
  background-color: var(--elevation1);
  color: var(--brand);
}
