.PageContent {
  color: var(--text-primary);
  height: 100%;
  line-height: 1.3em;
  overflow: auto;
  padding: 1.5em;
  width: 100%;
}

.PageContentBody {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
