.PageContent {
  color: var(--text-primary);
  grid-area: content;
  line-height: 1.3em;
  overflow: auto;
  padding: 1.5em;
  width: 100%;
}

.PageContentBody {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
