.HuntingMapToolbar {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  position: absolute;
  right: 0.5em;
  z-index: 10;
}

.HuntingMapToolbar button + button {
  margin-top: 0.25em;
}
