.AnimalName {
  font-weight: 500;
}

.AnimalNameLatin {
  color: var(--text-secondary);
  font-size: 0.85em;
  font-style: italic;
  font-weight: normal;
  line-height: 1em;
  margin-top: 0.5em;
}

.AnimalNameTitle {
  color: var(--text-primary);
  line-height: 1em;
  transition: color 125ms ease-in-out;
}
