.AnimalActivityGridRow {
  display: grid;
  grid-template-columns: 11rem 1fr;
}

.AnimalActivityGridRowName {
  line-height: 1em;
  padding: 0.25em 0.5em 0.25em 0;
}

.AnimalActivityGridRowSlots {
  cursor: pointer;
  display: grid;
  grid-gap: 0.25em;
  grid-template-columns: repeat(24, 1fr);
  width: 100%;
}

.AnimalActivityGridRowSlot {
  align-items: center;
  border-radius: 0.25em;
  display: flex;
  height: 100%;
  justify-content: center;
  min-width: 2.3rem;
  padding: 0.5em 0;
  transition: background-color 50ms ease-in-out;
  width: 100%;
}

.AnimalActivityGridRowSlots:not(.AnimalActivityGridRowSlotsActive):hover .AnimalActivityGridRowSlot,
.AnimalActivityGridRowSlotHighlighted {
  background-color: var(--elevation3);
}

.AnimalActivityGridRowSlotsActive .AnimalActivityGridRowSlot {
  background-color: var(--elevation0);
}

.AnimalActivityGridRowSlotsActive .AnimalActivityGridRowSlot img,
.AnimalActivityGridRowSlotHighlighted img {
  opacity: 1;
  transform: scale(1) !important;
}

@media (max-width: 1200px) {
  .AnimalActivityGridRow {
    grid-row-gap: 0.3em;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .AnimalActivityGridRowName {
    line-height: unset;
    padding: 0 0 0 0.25em;
    width: 100%;
  }
}

@media (max-width: 960px) {
  .AnimalActivityGridRow {
    grid-row-gap: 0.3em;
  }

  .AnimalActivityGridRowSlots {
    grid-gap: 0.25em;
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (max-width: 600px) {
  .AnimalActivityGridRow {
    flex-direction: column;
  }

  .AnimalActivityGridRowSlots {
    grid-template-columns: repeat(8, 1fr);
  }
}
