.DebugPanelActionCopy {
  background-color: var(--info);
}

.DebugPanelActionClear {
  background-color: var(--danger);
}

.DebugPanelContent {
  padding: 0 0.65em;
}

.DebugPanelMarkers {
  display: grid;
  grid-gap: 0.6em;
}

.DebugPanelPlaceholder {
  align-items: center;
  background-color: var(--elevation1);
  border-radius: 0.5em;
  color: var(--text-highlight);
  display: flex;
  font-size: 0.8em;
  height: 10rem;
  justify-content: center;
  margin: 0 auto;
  opacity: 0.3;
  padding: 0 5em;
  text-align: center;
  user-select: none;
}

.DebugPanelToggleButton {
  bottom: 2em;
  position: absolute;
  right: 0.5em;
  z-index: 10;
}
