.DebugPanelIconRow {
  display: grid;
  grid-template-columns: 6em 1fr;
}

.DebugPanelIconRowCaption {
  align-items: center;
  color: var(--text-primary);
  display: flex;
  font-weight: 500;
  font-size: 0.8em;
  white-space: nowrap;
}

.DebugPanelIconRowIcon {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.DebugPanelIconRowIconAction {
  align-items: center;
  background-color: var(--elevation4);
  cursor: pointer;
  display: flex;
  font-size: 0.8em;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 100ms ease-in;
  width: 100%;
  z-index: 2;
}

.DebugPanelIconRowIcon:hover .DebugPanelIconRowIconAction {
  opacity: 0.8;
}

.DebugPanelIconRowIconPending {
  filter: grayscale(100%);
  opacity: 0.3;
}

.DebugPanelIconRowIconPlaceholder {
  font-size: 1.2em;
  opacity: 0.3;
}

.DebugPanelIconRowIcons {
  display: grid;
  grid-gap: 0.3em;
  grid-template-columns: repeat(6, 1fr);
}
