.HuntingMap {
  background-color: var(--elevation1);
  flex: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.HuntingMapAnimalMarkerHighlighted {
  filter: drop-shadow(0 0 0.4em currentColor);
}

.HuntingMapContainer {
  left: 0;
  position: absolute;
  top: 0;
  will-change: left, top;
}

.HuntingMapMarkerGeneric {
  color: var(--marker-generic);
}

.HuntingMapMarkerLandmark {
  color: var(--marker-landmark);
}

.HuntingMapMarkerLodge {
  color: var(--marker-lodge);
}

.HuntingMapImage {
  backface-visibility: hidden;
  background-color: var(--elevation0);
  box-shadow: var(--shadow-strong);
  height: 100%;
  user-select: none;
  width: 100%;
}
