.HuntingMap {
  background-color: var(--elevation1);
  flex: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.HuntingMapContainer {
  left: 0;
  position: absolute;
  top: 0;
  will-change: left, top;
}

.HuntingMapImage {
  backface-visibility: hidden;
  background-color: var(--elevation0);
  box-shadow: var(--shadow-strong);
  height: 100%;
  width: 100%;
}
