.Sidebar {
  background-color: var(--elevation1);
  grid-area: sidebar;
  height: 100%;
  overflow-y: auto;
  user-select: none;
  width: 100%;
}

@media (max-width: 864px) {
  .Sidebar {
    font-size: 0.9em;
  }
}
