.LoadingOverlay {
  align-items: center;
  background-color: var(--elevation3);
  bottom: 0;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
  z-index: 1000;
}
