.SectionHeader {
  background: linear-gradient(90deg, var(--elevation5) 0%, transparent 100%);
  padding: 0.9em 0.75em 0.9em 0.85em;
  user-select: none;
}

.SectionHeaderContent {
  color: var(--text-primary);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.3em;
  line-height: 1em;
  text-transform: uppercase;
}
